<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>TOWebViewController</string>
	<key>iosapp</key>
	<dict>
		<key>iosapp://splash</key>
		<string>SplashScene</string>
		<key>iosapp://signIn</key>
		<string>SignInScene</string>
		<key>iosapp://signUp</key>
		<string>SignUpScene</string>
		<key>iosapp://verify</key>
		<string>VerifyScene</string>
		<key>iosapp://avatar</key>
		<string>AvatarScene</string>
		<key>iosapp://user</key>
		<string>UserScene</string>
		<key>iosapp://moment</key>
		<string>MomentDetailsScene</string>
		<key>iosapp://addContact</key>
		<string>AddContactScene</string>
		<key>iosapp://editProfile</key>
		<string>EditProfileScene</string>
		<key>iosapp://settings</key>
		<string>SettingsScene</string>
		<key>iosapp://contactList</key>
		<string>ContactListScene</string>
	</dict>
</dict>
</plist>
